html, body {
  height: 100%
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.body {
  padding-top: 40px;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
