<div class="container">
  <div class="page-header">
    <h1>Gestion du compte</h1>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="user.name" class="col-sm-4 col-md-4 control-label">Name</label>
      <div class="col-sm-4">
        <input type="name" id="user.name" ng-model="user.name" class="form-control" placeholder="Nom" value="{{user.name}}">
      </div>
	  <label for="user.phone" class="col-sm-4 col-md-4 control-label">Téléphone</label>
	  <label for="user.address" class="col-sm-2 control-label">Adresse</label>
	  <label for="user.date" class="col-sm-2 control-label">Date de naissance</label>
	  <label for="user.email" class="col-sm-4 col-md-4 control-label">Courriel</label>
	  <label for="user.password" class="col-sm-2 control-label" >Mot de passe</label>
	  <label for="user.passwordConfirm" class="col-sm-2 control-label" >Comfirmation du mot de passe</label>
      <div class="col-sm-4">
        <input type="email" id="user.email" ng-model="user.email" class="form-control" placeholder="Courriel" value="{{user.email}}">
      </div>
	  
    </div>
  </form>
<div>
