<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<div class="container" ng-controller="Inscrire">
  <div class="page-header">
    <h1>Inscription</h1>
  </div>
  <form ng-show="!sent" name="inscrireForm" class="form-horizontal" ng-submit="inscrire(!inscrireForm.$invalid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.name.$invalid && submitted}">
      <label for="user.name" class="col-sm-2 control-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" name="name" id="user.name" ng-model="user.name" class="form-control" placeholder="Nom" required>
        <p ng-show="inscrireForm.name.$invalid && submitted" class="help-block">
          *Vous devez fournir un nom valide pour vous inscrire.
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.phone.$invalid && submitted}">
      <label for="user.phone" class="col-sm-2 control-label">Téléphone</label>
      <div class="col-sm-10">
        <input type="text" name="phone" id="user.phone" ng-model="user.phone" class="form-control" placeholder="Téléphone"
		      ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/" required>
        <p ng-show="inscrireForm.phone.$invalid && submitted" class="help-block">
          *Vous devez fournir un numéro de téléphone valide pour vous inscrire.
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.address.$invalid && submitted}">
      <label for="user.address" class="col-sm-2 control-label">Adresse</label>
      <div class="col-sm-10">
        <input type="text" name="address" id="user.address" ng-model="user.address" class="form-control" placeholder="Adresse" required>
        <p ng-show="inscrireForm.address.$invalid && submitted" class="help-block">
          *Vous devez fournir une adresse pour vous inscrire.
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.date.$invalid && submitted}">
      <label for="user.date" class="col-sm-2 control-label">Date de naissance</label>
      <div class="col-sm-10">
        <div style="display:inline-block; min-height:290px;">
          <datepicker name="date" ng-model="user.birth_date" show-weeks="true" class="well well-sm"
		  data-provide="datepicker" required></datepicker>
          <p ng-show="inscrireForm.date.$invalid && submitted" class="help-block">
            *Vous devez fournir une date de naissance valide pour vous inscrire.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.email.$invalid && submitted}">
      <label for="user.email" class="col-sm-2 control-label">Courriel</label>
      <div class="col-sm-10">
        <input type="email" name="email" id="user.email" ng-model="user.email" class="form-control" placeholder="Courriel"
          ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/" required>
        <p ng-show="inscrireForm.email.$invalid && submitted" class="help-block">
          *Vous devez fournir une adresse courriel valide pour vous inscrire.
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.password.$invalid && submitted}">
      <label for="user.password" class="col-sm-2 control-label" >Mot de passe</label>
      <div class="col-sm-10">
        <input type="password" name="password" ng-model="user.password" class="form-control" ng-minlength="6" ng-maxlength="25"
          placeholder="Mot de passe" required>
        <p ng-show="inscrireForm.password.$invalid && submitted" class="help-block">
          *Vous devez fournir un mot de passe valide de 6 à 25 charactères pour vous inscrire.
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : inscrireForm.passwordConfirm.$invalid && submitted}">
      <label for="user.passwordConfirm" class="col-sm-2 control-label" >Comfirmation du mot de passe</label>
      <div class="col-sm-10">
        <input type="password" name="passwordConfirm" ng-model="user.passwordConfirm" class="form-control"
          placeholder="Mot de passe" password-check="user.password" required>
        <p ng-show="inscrireForm.passwordConfirm.$invalid && submitted" class="help-block">
          *Vous devez fournir un mot de passe de confirmation identique au premier mot de passe.
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" value="inscription" ng-click="submitted=true" class="btn btn-default">S'inscrire</button>
      </div>
    </div>
  </form>
  <div ng-show="succes">
    <p>
      Bonjour, <b><span ng-bind="user.name" id="savedname"></span></b>.
    </p>
	<p>
	  Vous pouvez maintenant vous connecter avec votre email: <br>
	  <b><span ng-bind="user.email" id="savedmail"></span><br></b>
	  et votre mot de passe.
	</p>
	<p>
	  Autres informations de compte fournies:<br>
	  Téléphone: <b><span ng-bind="user.phone" id="savedPhone"></span></b><br>
	  Adresse: <b><span ng-bind="user.address" id="savedAddress"></span></b><br>
	  Date de naissance: <b><span ng-bind="user.birth_date" id="savedDateBirth"></span></b>
	</p>
	<p>
	  Ces informations ne sont pas les bonnes? <br>
	  <b><a href="#/modifier_compte">Gestion du compte</a></b>
	</p>
  </div>
  <div ng-show="errors">
    <!-- i'm not sure how to access a vraiable from controller.(errors) plus that wouldn't be really mvc. wouldn,t it be better to change errors to a bool var?-->
    <span id="submitErrorMessage">"Malheuresement, une erreur est survenue lors de l'inscription et l'utilisateur n'a pas pu être enregistré."</span>
  </div>

<div>
