<div class="container">
   <div class="row">
      <form class="form-horizontal" ng-model="menu" id="order" name="order" ng-submit="submitOrder()">
          <div ng-repeat="menu in order" class="col-sm-12">
            <div class="col-sm-12">
               <h3>{{menu.name}}</h3>
            </div>
            <div class="form-group" ng-show="menu.plates.length > 0">
               <div class="col-sm-offset-4 col-sm-4">
                  <table class="table table-hover">
                     <thead>
                        <th>
                           Nom du plat
                        </th>
                        <th>
                           Prix du plat
                        </th>
                      </thead>
                      <tbody>
                         <tr ng-repeat="plate in menu.plates">
                            <td style="vertical-align:middle;">{{plate.name}}</td>
                            <td style="vertical-align:middle;">{{plate.price | number : 2}} $</td>
                            <td style="vertical-align:middle;">Quantité : <input ng-model="plate.quantite" type="number" min="0" max="99" style="width: 32px"></td>
                         </tr>
                      </tbody>
                  </table>
               </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4 col-md-4">
               <button type="submit" class="btn btn-success btn-block">Passer la commande</button>
            </div>
         </div>
      </form>
   </div>
</div>
