<div class="container">
   <div class="row">
     <h2>Passer la commande</h2>
     <div class="row">
       <div class="col-sm-12">
         <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-12">
         <button class="btn btn-danger" ng-show="orderToPay" ng-click="createPayment()">Veuillez payer votre commande !</button>
       </div>
     </div>

      <form class="form-horizontal" id="order" name="order" ng-submit="submitPlates()" ng-show="!showCommandForm && !orderToPay">
          <div ng-repeat="menu in menus" class="col-sm-12">
            <div class="col-sm-12">
               <h3>{{menu.name}}</h3>
            </div>
            <div class="form-group" ng-show="menu.plates.length > 0">
               <div class="col-sm-offset-4 col-sm-4">
                  <table class="table table-hover">
                     <thead>
                        <th>
                           Nom du plat
                        </th>
                        <th>
                           Prix du plat
                        </th>
                      </thead>
                      <tbody>
                         <tr ng-repeat="plate in menu.plates">
                            <td style="vertical-align:middle;">{{plate.name}}</td>
                            <td style="vertical-align:middle;">{{plate.price | number : 2}} $</td>
                            <td style="vertical-align:middle;">Quantité :
                              <input ng-model="plate.quantity" type="number" min="0" max="99" style="width: 32px" ng-init="plate.quantity = 0">
                            </td>
                         </tr>
                      </tbody>
                  </table>
               </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4 col-md-4">
               <button type="submit" class="btn btn-success btn-block">Passer la commande</button>
            </div>
         </div>
      </form>

      <!-- Command form -->
      <div class="col-sm-12" ng-show="showCommandForm && !orderToPay">
        <form class="form-horizontal" ng-model="order" name="ajoutCommande" ng-submit="submitOrder()" novalidate>
          <div class="form-group" id="sommaireInformations">
            <div class="col-sm-offset-4 col-sm-4">
              <table class="table table-hover">
                <thead>
                  <th>
                     Nom du plat
                  </th>
                  <th>
                     Prix du plat
                  </th>
                  <th>
                     Quantité
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in currentOrder.items">
                     <td style="vertical-align:middle;">{{item.name}}</td>
                     <td style="vertical-align:middle;">{{item.price | number : 2}} $</td>
                     <td style="vertical-align:middle;">{{item.quantity}}</td>
                  </tr>
                  <tr>
                    <td>Total: </td>
                    <td>{{total}}  $</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label for="order.date" class="col-sm-4 col-md-4 control-label">Date et heure de la livraison</label>
            <div class="col-sm-4">
              <div class='input-group'>
                <input class="form-control" datepicker-popup="dd-MMMM-yyyy" min-date="minDate" ng-model="delivery_date" is-open="opened" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
              <timepicker ng-model="delivery_time" show-meridian="true"></timepicker>
            </div>
          </div>
          <div class="form-group">
            <label for="order.delivery_address" class="col-sm-4 col-md-4 control-label">Nouvelle adresse de livraison</label>
            <div class="col-sm-4">
              <input type="text" name="address" ng-model="order.delivery_address" class="form-control" placeholder="Adresse de livraison">
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-4 col-md-4 control-label">Autres adresses possibles</label>
            <div class="col-md-4">
              <select class="form-control" style="font-size:medium" ng-model="secondaryAddresses" ng-options="address as address for address in addresses" ng-multiple="false"></select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4 col-md-4">
              <button type="submit" value="addOrder" class="btn btn-success btn-block">Passer la commande</button>
            </div>
          </div>
        </form>
      </div>
   </div>
</div>
