<div class="container">
  <div class="page-header">
    <h1>Restaurants</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-info" ng-click="showAddForm = true" ng-show="!showAddForm">Ajouter des restaurants</button>
      <button type="button" class="btn btn-primary" ng-click="showAddForm = false" ng-show="showAddForm">Arrêter l'ajout de restaurants</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
  
  <div ng-show="showAddForm" class="row">
    <div class="col-sm-12">
	  <form class="form-horizontal" ng-model="restaurant" name="addRestaurant" ng-submit="submitRestaurant()" novalidate>
	    <div class="form-group">
          <label for="restaurant.name" class="col-sm-4 col-md-2 control-label">Nom</label>
          <div class="col-sm-4">
            <input type="text" name="name" id="restaurant.name" ng-model="restaurant.name" class="form-control" placeholder="Nom">
          </div>
        </div>
		  <!--
            Code for the drop down list that will contain all of the restaurateur possible
          //-->
		<div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="addRestaurant" class="btn btn-success">Ajouter ce restaurant</button>
          </div>
        </div>
	  </form>
	</div>
  </div>
  
  <div class="row" ng-show="!showAddForm">
    <div class="col-sm-12">
      <h2>Liste des restaurants</h2>
      <table class="table table-hover">
        <thead>
          <th>
            Nom
          </th>
          <th style="width: 5%;">
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="restaurant in restaurants">
            <td style="vertical-align:middle;">{{restaurant.name}}</td>
            <td style="text-align: center;">
              <div class="btn-group" style="white-space: nowrap;">
                <button style="float: none;display: inline-block;" class="btn btn-info">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button style="float: none;display: inline-block;" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="noRestaurants">
    Aucun restaurant n'a été ajouté
  </div>
</div>
