<div class="container">
  <div class="page-header">
    <h1>Restaurateurs</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-info" ng-click="showAddForm = true" ng-show="!showAddForm">Ajouter des restaurateurs</button>
      <button type="button" class="btn btn-primary" ng-click="showAddForm = false" ng-show="showAddForm">Arrêter l'ajout de restaurateurs</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>

  <div ng-show="showAddForm" class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" ng-model="user" name="addRestaurateur" ng-submit="submitRestaurateur()" novalidate>
        <div class="form-group">
          <label for="user.name" class="col-sm-4 col-md-2 control-label">Nom</label>
          <div class="col-sm-4">
            <input type="text" name="name" id="user.name" ng-model="user.name" class="form-control" placeholder="Nom">
          </div>
        </div>
         <div class="form-group">
          <label for="user.email" class="col-sm-4 col-md-2 control-label">Courriel</label>
          <div class="col-md-4">
            <input name="email" id="user.email" ng-model="user.email" class="form-control" placeholder="Courriel">
          </div>
        </div>
        <div class="form-group">
          <label for="user.password" class="col-sm-2 control-label">Mot de passe</label>
          <div class="col-md-4">
            <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Mot de passe">
          <p></p>
          </div>
        </div>
        <div class="form-group">
          <label for="user.passwordConfirm" class="col-sm-2 control-label">Confirmation du mot de passe</label>
          <div class="col-sm-4">
            <input type="password" name="passwordConfirm" ng-model="user.passwordConfirm" class="form-control"
              placeholder="Mot de passe">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="addRestaurateur" class="btn btn-success">Ajouter ce restaurateur</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-show="!showAddForm">
    <div class="col-sm-12">
      <h2>Liste des restaurateurs</h2>
      <table class="table table-hover">
        <thead>
          <th>
            Nom
          </th>
          <th>
            Courriel
          </th>
          <th style="width: 5%;">
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="restaurateur in restaurateurs">
            <td style="vertical-align:middle;">{{restaurateur.name}}</td>
            <td style="vertical-align:middle;">{{restaurateur.email}}</td>
            <td style="text-align: center;">
              <div class="btn-group" style="white-space: nowrap;">
                <button style="float: none;display: inline-block;" class="btn btn-info">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button style="float: none;display: inline-block;" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="noRestaurateurs">
    Aucun restaurateur n'a été ajouté
  </div>

<div>
