<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">Restauration LOG210</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isActive('/') }"><a href="#/">Accueil</a></li>
    </ul>
    <ul ng-if="!loggedin" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/connexion') }"><a href="#/connexion">Connexion</a></li>
    </ul>
    <ul ng-if="!loggedin" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/inscrire') }"><a href="#/inscrire">Inscription</a></li>
    </ul>
    <ul ng-if="loggedin" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/modifier_compte') }"><a href="#/modifier_compte">Gestion du compte</a></li>
    </ul>
    <ul ng-if="showListeCommandes" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/liste_commandes') }"><a href="#/liste_commandes">Liste des commandes</a></li>
    </ul>
    <ul ng-if="showModifierRestaurants" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/modifier_restaurants') }"><a href="#/modifier_restaurants">Modifier les restaurants</a></li>
    </ul>
    <ul ng-if="showModifierRestaurateurs" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/modifier_restaurateurs') }"><a href="#/modifier_restaurateurs">Modifier les restaurateurs</a></li>
    </ul>
    <ul ng-if="showModifierMenu" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/modifier_menu') }"><a href="#/modifier_menu">Modifier les menus</a></li>
    </ul>
    <ul ng-if="showlivrerDesCommandes" class="nav navbar-nav navbar-right">
      <li ng-class="{ active: isActive('/livrer') }"><a href="#/livrer">Livrer des commandes</a></li>
    </ul>
    <ul ng-if="loggedin" class="nav navbar-nav navbar-right">
      <li><a href="#/logout">Se déconnecter</a></li>
    </ul>
  </div>
</div>
